@media screen and (max-width:767px) {
    .header-list {
        display: none;
    }

    .header-address {
        display: none;
    }


}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .open-menu-btn {
        display: none;
    }
    
    /* HEADER */

    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
        
    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-list {
        display: flex;
        gap: 40px;
        margin-right: 121px;
    }

    .header-item {
        position: relative;
    }

    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-secondary);
        transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
    }

    .header-link:hover,
    .header-link:focus {
        color: var(--color-hover-link);
    }

    .link-studio-active {
        color: var(--color-hover-link);
    }

    .link-studio-active::after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--color-hover-link);
        display: block;
        position: absolute;
        left: 0px;
        top: 45px;
        border-radius: 2px;
    }

    .link-portfolio-active {
        color: var(--color-hover-link);
    }

    .link-portfolio-active::after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--color-hover-link);
        display: block;
        position: absolute;
        left: 0px;
        top: 45px;
        border-radius: 2px;
    }

    .header-link::after {
        transition: background-color var(--transition-dur-and-func);
    }

    .header-link:hover::after,
    .header-link:focus::after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--color-hover-link);
        display: block;
        position: absolute;
        left: 0px;
        top: 45px;
        border-radius: 2px;
    }

    .header-address-item {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--color-primary);
        transition: color var(--transition-dur-and-func);
    }

    .header-address-item:hover,
    .header-address-item:focus {
        color: var(--color-hover-link);
    }

    /* HERO SECTION */

    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x.jpg);
    }
    }

    .hero-title {
        max-width: 500px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }

    /* FEATURES SECTION */


    .features-list {
        display: flex;
        gap: 72px 24px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .features-item {
        max-width: 356px;
    }
    
    .features-subtitle {
        text-align: start;
    }

    /* TEAM */

    .team-list {
        display: flex;
        gap: 64px 24px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .team-item {
        max-width: 264px;
    }

    /* CUSTOMERS */

    .customers-item {
        min-width: 168px;
        height: 88px;
    }

    .customers-list {
        gap: 72px 24px;
        justify-content: center;
    }

    /* PORTFOLIO */

    .portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .portfolio-btn-list {
        gap: 24px;
        justify-content: center;
        flex-wrap: nowrap;
        margin-bottom: 64px;
        width: 100%;
    }

    .portfolio-list {
        display: flex;
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .portfolio-item {
        max-width: 356px;
        margin-bottom: 0;
    }

    /* FOOTER */

    .footer {
        display: flex;
    }

    .footer-wrap-top {
        display: flex;
        gap: 24px;
        align-items: baseline;
    }

    .footer-logo-and-text {
        align-items: flex-start;
    }

    .social-media-text {
        text-align: start;
    }

    .footer-form-wrapper {
        display: flex;
        gap: 24px;
    }

    .footer-form-text {
        text-align: start;
    }

    .footer-form-input {
        width: 264px;
    }


}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

    /* HEADER */

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-logo {
        margin-right: 75px;
    }

    .header-address-list {
        display: flex;
        gap: 40px;
    }

    .header-address-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color var(--transition-dur-and-func);
    }

    .header-address-item:hover,
    .header-address-item:focus {
        color: var(--color-hover-link);
    }

    /* HERO SECTION */

    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desktop-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desktop-2x.jpg);
        }
    }

    /* FEATURES-SECTION */

    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .features-icon-container {
        background: #F4F4FD;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.017em;
    }

    .features-text {
        font-weight: 400;
        letter-spacing: 0.017em;
    }

    /* ABOUT */

    .about {
        padding-bottom: 120px;
        display: block;
    }

    .about-list {
        display: flex;
        gap: 24px;
    }

    .about-item {
        width: calc((100% - 48px) / 3);
    }
    
    /* TEAM */

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
        flex-direction: row;
    }

    /* CUSTOMERS */

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        align-items: center;
        gap: 24px;
    }

    /* FOOTER */ 

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        display: flex;
        align-items: baseline;
    }

    .footer-text {
        margin-right: 120px;
    }

    .social-media-footer {
        margin-right: 80px;
    }

    /* PORTFOLIO */

    .portfolio {
        padding-top: 96px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        max-width: 356px;
    }
        

    /* MODAL */

    .modal-form-input:focus {
        border: 1px solid var(--color-focus-input);
        outline: none;
    }

    .modal-form-input:focus + .modal-form-icon {
    fill: var(--color-focus-input);
    }

    .modal-form-comment:focus {
        border: 1px solid var(--color-focus-input);
        outline: none;
    }
}